{% extends 'main.html' %} {% block content %}
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    {% if pred == 1 %}
    <div class="jumbotron">
      <h1 class="display-4" style="margin-bottom: 25px; width: max-content">
        You may have a Kidney Disease !
      </h1>
      <p class="lead" style="font-size: 20px">
        Please consult a doctor immideately. It is too risky without
        consultation. Make sure to look after your health.
      </p>
      <hr class="my-4" />
      <p class="lead" style="font-size: 20px">
        Proper Doctor Consultation Needed.
      </p>
      <a
        class="btn btn-primary btn-lg"
        href="https://www.who.int/"
        role="button"
        style="margin-top: 20px"
        >Learn more</a
      >
    </div>
    {% else %}
    <div class="jumbotron">
      <h1 class="display-4" style="margin-bottom: 25px">
        Great! You Seem Healthy
      </h1>
      <p class="lead" style="font-size: 20px">
        You seem absolutely alright ! There are no indications of a Kidney Disease. Enjoy
        your life full of Happiness.
      </p>
      <hr class="my-4" />
      <p class="lead" style="font-size: 20px">
        Be careful about your health. Nothing is important than your health.
      </p>
      <a
        class="btn btn-primary btn-lg"
        href="https://www.who.int/"
        role="button"
        style="margin-top: 20px"
        >Learn more</a
      >
    </div>
    {% endif %}
  </div>
  <div class="col-md-3"></div>
</div>
{% endblock %}
